module.exports = {
  theme: 'nespresso',

  vendor: 'Mygento',

  // path to company logo relative to theme images folder
  placeholder: 'nespresso-white.svg',

  // specify 'destination' as command line argument if running form a deploy script
};
