<header class="top-header">
    <img class="top-header-logo" src="/styleguide/kss-assets/images/{{this.options.placeholder}}" alt="Project Logo">
    <span class="top-header-logo-name">Styleguide</span>
</header>
