<header class="top-header">
    <img class="top-header-logo" src="./kss-assets/media/logo-nespresso-white.svg" alt="Nespresso Logo">
    <span class="top-header-logo-name">Styleguide</span>
</header>
